* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* --max-width: 1440px; */
  --max-width: 1360px;
  --light-gray: #1a1619;
  --dark-gray: #4a4a4a;
  --gray-3: #828282;
  --stock-breakdown-bg: rgba(255, 255, 255, 0.1);
  --notification-text: "rgba(250, 96, 9, 0.9)";

  --main-bg: #f5f6f8;
  --brand: #039bf0;
  --btn-lgt: #fff;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;

  font-family: "Inter", sans-serif;
  background-color: #f5f6f8;
}

#__next {
  width: 100%;
  /* height: 100%; */
  background: var(--main-bg);
}

.scrollbar {
  overflow-y: auto;
}

.scrollbar.horizontal {
  overflow-x: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  height: 10px;
  border-radius: 4px;
  border-bottom-right-radius: 0;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  transition-delay: 0.15s;
}

.text__underline__none {
  text-decoration: none;
}

.app__auth {
  height: fit-content;
  min-height: 100vh;
  padding: 34px 0;
  background: var(--main-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.app__auth__main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.app__auth__p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: var(--main-text2);
}

.app__auth__form_container {
  width: 522px;
  /* height: 492px; */
  background: #ffffff;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.01);
  border-radius: 8px;
  padding: 40px;
}

.app__auth__form_container__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}

.app__auth__form_container__h4 {
  font-weight: 500;
  line-height: normal;
  font-style: normal;
  font-size: 24px;
  color: var(--brand);
}

.app__auth__form_container__p {
  color: #606060;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.app__auth__form_container__input {
  margin-bottom: 25px !important;
}

.app__auth__form_container__anchor_right {
  color: var(--main-text2);
  text-decoration: none;
  margin-bottom: 25px !important;
  font-size: 12px;
  font-weight: 500;
}

.app__auth__form_container__anchor_right:hover {
  color: var(--main-text2);
  opacity: 0.9;
  text-decoration: underline;
  transition: 0.1s ease-in-out;
}

.app__main {
  padding-top: 136px;
}

.app__main__container {
  margin: auto;
  max-width: var(--max-width);
  min-height: calc(100vh - 136px);
}

.app__login_form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.app__login_form__password {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.app__login_form__password__fgt {
  color: #606060;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  gap: 8px;
}

.app__login_form__password__fgt span {
  color: var(--brand);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.remove__btn__style {
  all: unset;
  cursor: pointer;
}

.modal-content {
  align-items: center;
  background-color: transparent;
  border: none;
}

/* ===================================
    REPORT MODAL STARTS HERE
====================================== */
.report__modal__con .modal-content {
  max-width: 697px;
  margin-left: auto;
  margin-right: auto;
}

.app_reports_modal {
  max-width: 697px;
  width: 100%;
}

.app_reports_close_btn {
  all: unset;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3447f4;
}

.app_reports_modal_header h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 44px;
  color: #000000;
}

.app_reports_modal_header p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #808080;
}

.app_reports_modal_header .info {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(20, 20, 43, 0.8);
}

.app_report_modal_input input {
  height: 47px;
}

.system_config__input {
  text-align: center;
  max-width: 50px;
  margin-left: 12px;
  padding: 0;
  border: none;
}

.system_config__input:active,
.system_config__input:focus,
.system_config__input:hover {
  padding: 0;
  border: none;
  box-shadow: none;
}

.app_reports_modal_action_btn {
  height: 46px;
  width: 162px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  border-radius: 4px !important;
}

.app__drawer__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(20, 20, 43, 0.8);
}

.app__auth__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 16px;
  z-index: 9;
  background-color: var(--main-bg);
}

.app__auth__sign__in__btn {
  color: #039bf0 !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
  padding: 8px 16px !important;
  height: unset;
  border-radius: 4px !important;
  border: 1px solid #039bf0 !important;
  box-shadow: none;
  background-color: transparent;
}

.app__auth__header__text {
  color: #606060;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.app__auth__form__divider {
  height: 1px;
  width: 100%;
  background-color: #f5f6f8;
  margin-bottom: 24px;
}

.app__auth_subtitle {
  color: #039bf0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.app__auth__select {
  height: 48px;
}

.app__auth__attach_btn {
  height: unset;
  padding: 4px 12px !important;
  border-radius: 4px;
}

.app__auth__file__drop__text {
  color: #1a141f;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%;
}

.app__auth__file__drop__text.lg {
  font-size: 14px;
}

.app__auth__file__drop {
  border: 1px dashed #aba7af;
  border-radius: 4px;
  padding: 24px;
}

.file-drop
  > .file-drop-target.file-drop-dragging-over-frame
  .app__auth__file__drop {
  border-color: var(--brand);
}

.app__auth__sign__uo__btn button {
  padding: 0 65px !important;
}

.app__auth__sign__uo__btn p {
  color: #808080;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* ===================================
    REPORT MODAL ENDS HERE
====================================== */

/* ===================================
    DASHBOARD STARTS HERE
====================================== */
.wema__dashboard__layout {
  position: relative;
}

.wema__dashboard__sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 256px;
  bottom: 0;
  background-color: #fff;
  padding: 40px 24px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06);
  z-index: 99;
}

.wema__dashboard__sidebar__divider {
  height: 1px;
  width: 100%;
  opacity: 0.2;
  background: #f5f6f8;
  margin-top: 18px;
  margin-bottom: 16px;
}

.wema__dashboard__layout__main__content {
  margin-left: 256px;
  margin-top: 88px;
  padding: 32px;
}

.wema__dashboard__sidebar__link {
  display: block;
  padding: 14px 20px;
  border-radius: 8px;
  position: relative;
  text-decoration: none;
}

.wema__dashboard__sidebar__link p {
  color: #1a1619;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wema__dashboard__sidebar__link path {
  fill: #1a1619;
}

.wema__dashboard__sidebar__link.active {
  background-color: #f2faff;
}

.wema__dashboard__sidebar__link.active p {
  color: #039bf0;
}

.wema__dashboard__sidebar__link.active path {
  fill: #039bf0;
}

.wema__dashboard__sidebar__link .indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 0;
  border-radius: 8px 0 0 8px;
  background-color: #039bf0;
  max-width: 4px;
}

.wema__dashboard__header {
  position: fixed;
  top: 0;
  left: 256px;
  right: 0;
  background-color: #fff;
  z-index: 9;
  padding: 22px 32px;
}

.wema__dashboard__header__page__title h3 {
  color: #1a1619;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.wema__dashboard__header__page__title p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.988%;
  font-family: Helvetica, sans-serif;
  color: #039bf0;
  padding: 8px;
  border-radius: 24px;
  background: #f2faff;
}

.wema__dashboard__header__profile__pic {
  width: 44px;
  height: 44px;
}

.wema__dashboard__header__profile__pic img {
  width: 100%;
  height: 100%;
}

.wema__dshboard__filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.wema__dshboard__filters__select {
  min-width: 212px;
  max-width: 212px;
}

.wema__dshboard__filters__select select {
  height: 48px;
}

.wema__dshboard__filters__input {
  min-width: 240px;
  max-width: 240px;
}

.wema__dshboard__filters__input input:focus {
  border-width: 1px;
}

.wema__dshboard__filters__input input {
  padding: 0.375rem 0.75rem 0.375rem 2.15rem;
  /* -moz-padding-start: calc(0.75rem - 3px); */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.436 15.0849L20.376 19.0949C20.5525 19.2857 20.6478 19.5377 20.6417 19.7975C20.6356 20.0573 20.5286 20.3046 20.3433 20.4869C20.158 20.6691 19.9091 20.7721 19.6492 20.774C19.3893 20.7759 19.1389 20.6765 18.951 20.4969L15.013 16.4909C13.4935 17.6356 11.5959 18.16 9.70428 17.9581C7.81266 17.7562 6.06845 16.8431 4.82482 15.4035C3.58118 13.9639 2.93106 12.1056 3.00608 10.2047C3.08111 8.30382 3.87568 6.50248 5.22891 5.16542C6.58214 3.82836 8.3929 3.05549 10.2945 3.00331C12.1962 2.95114 14.0466 3.62355 15.4711 4.88439C16.8956 6.14524 17.7878 7.9003 17.9669 9.7942C18.1461 11.6881 17.5988 13.5793 16.436 15.0849ZM10.5 15.9999C11.9587 15.9999 13.3576 15.4204 14.3891 14.389C15.4205 13.3575 16 11.9586 16 10.4999C16 9.04122 15.4205 7.64227 14.3891 6.61082C13.3576 5.57937 11.9587 4.99991 10.5 4.99991C9.04131 4.99991 7.64236 5.57937 6.61091 6.61082C5.57946 7.64227 5 9.04122 5 10.4999C5 11.9586 5.57946 13.3575 6.61091 14.389C7.64236 15.4204 9.04131 15.9999 10.5 15.9999Z' fill='%23808080'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left 0.75rem center;
  background-size: 20px 20px;
  appearance: none;
}

.wema__dshboard__filters__right {
  display: flex;
  gap: 16px;
}

.wema__dshboard__filters .app__submit__button {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
}

.wema__dshboard__table table {
  background-color: #fff;
  min-width: 991px;
}

.wema__dshboard__table th {
  color: #1a1619;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom-width: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.wema__dshboard__table th:first-child {
  padding-left: 24px;
}

.wema__dshboard__table th:last-child {
  padding-left: 24px;
}

.wema__dshboard__table td {
  color: #1a1619;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 16px;
  padding-bottom: 16px;
}

.wema__dshboard__table td:first-child {
  padding-left: 24px;
}

.wema__dshboard__table td:last-child {
  padding-left: 24px;
}

.wema__dshboard__table tr {
  border-bottom: 1px solid #ebeff2;
}

.wema__dshboard__table__pagination {
  background-color: #fff;
  padding: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wema__dshboard__table__pagination__size {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wema__dshboard__table__pagination__size p {
  color: #808080;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wema__dshboard__table__pagination__select {
  max-width: 90px;
}

.wema__dshboard__table__pagination__ctrl {
  display: flex;
  align-items: center;
  gap: 16px;
}

.wema__dshboard__table__pagination__ctrl > button {
  color: #039bf0;
}

.wema__dshboard__table__pagination__ctrl .disabled {
  color: #808080;
}

.wema__dshboard__table__pagination__ctrl__nos {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wema__dshboard__table__pagination__ctrl__nos .active {
  color: #039bf0;
}

.form-check-input:checked[type="checkbox"] {
  background-size: 11px !important;
}

.form-check-input {
  margin-top: 0;
}

.app__badge {
  border-radius: 8px;
  background: transparent;
  color: #000;

  display: inline-flex;
  padding: 4px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.app__badge--active {
  background: rgba(39, 167, 19, 0.1);
  color: #27a713;
}

.app__badge--pending {
  background: rgba(255, 153, 0, 0.1);
  color: #f90;
}

.app__badge--deactivated {
  background: rgba(255, 0, 0, 0.1);
  color: #f00;
}

.app__auth__pending__modal {
  max-width: 442px;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
}

.app__auth__pending__modal__icon {
  padding: 19px;
  border-radius: 6px;
  background: rgba(255, 153, 0, 0.10);
}

.app__auth__pending__modal__icon__text {
  color: #F90;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.2%; 
}

.app__auth__pending__modal__details {
  color: #1A1619;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%; 
}

/* ===================================
    DASHBOARD ENDS HERE
====================================== */

.app_card_shimmer_con {
  height: 130px;
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #fff 5%, #ddd 25%, #fff 35%);
  background-size: 2000px 100%;
  border-radius: 8px;
}

.shimmer_no_padding {
  padding: 0 !important;
}

@keyframes shimmer {
  from {
    background-position: -2000px 0;
  }
  to {
    background-position: 2000px 0;
  }
}
